.toggle_switch{
    position: absolute;
    left: 50%;
    /* top:  50%; */
}

.fa-sun{
    color: gold;
}

.fa-ghost{
    color: rgb(175, 72, 200);
    margin-left: 3px;
}
.label{
    background-color: #121212;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35px;
    height: 16px;
    padding: 2px;
    cursor: pointer;
}
.checkbox{
    opacity: 0;
    position: absolute;

}

.label .ball{
    background-color: #fff;
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    transform: translateX(-1px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    background-color: rgb(135, 159, 96);
    transform: translateX(18px);
}
